h1{
	color:#383495;
	text-shadow:1px 1px 2px #4740F1;
}
.img{
	width:200px;
	padding:0px;
	border:3px solid #664545;
}
.lina{
	color:#54AF2F;
}
h2{
	font-size:30px;
	color:#482153;
}	
.simonenko{
	color:#EF3133;
}
.pavlichko{
	color:#A265B4;
}
.history{
	color:#9B98FE;
}
header{
	color:#3A35CC;
}